frontend/node_modules/
frontend-backup-20260401-105847.tar.gz
frontend-backup-20260401-110310/
frontend-sync-20260401-111959/
node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
