@import "tailwindcss";
@plugin "daisyui";

body {
  @apply m-0 w-screen h-screen p-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@theme {

  --color-primary-50: oklch(0.853 0.072 264.08);
  --color-primary-100: oklch(0.821 0.089 262.1);
  --color-primary-200: oklch(0.76 0.123 259.17);
  --color-primary-300: oklch(0.691 0.165 254.57);
  --color-primary-400: oklch(0.631 0.184 251.1);
  --color-primary-500: oklch(0.56 0.164 251.17);
  --color-primary-600: oklch(0.492 0.144 251.34);
  --color-primary-700: oklch(0.431 0.126 251.24);
  --color-primary-800: oklch(0.364 0.106 250.97);
  --color-primary-900: oklch(0.303 0.089 251.36);
  --color-primary-950: oklch(0.266 0.079 251.47);

  --color-secondary-50: oklch(0.868 0.062 300.7);
  --color-secondary-100: oklch(0.851 0.071 300.47);
  --color-secondary-200: oklch(0.809 0.093 300.57);
  --color-secondary-300: oklch(0.77 0.114 300.63);
  --color-secondary-400: oklch(0.726 0.137 300.69);
  --color-secondary-500: oklch(0.649 0.181 300.61);
  --color-secondary-600: oklch(0.577 0.218 301.02);
  --color-secondary-700: oklch(0.491 0.213 300.95);
  --color-secondary-800: oklch(0.41 0.176 301.15);
  --color-secondary-900: oklch(0.318 0.137 301.24);
  --color-secondary-950: oklch(0.282 0.122 301.19);


}